
.demoform{
    display:block;
}
.img-view
{
    width: 50px;
    height: 50px;
    display: inline-block;
}
.img-view img{
    width: 100%;
}
.text-view
{
    padding: 10px;
    display: inline-block;

}
.tot
{
    color:red;
}
.text-view input,button
{
    padding: 10px;
}
hr
{
     border-style:  solid;
     border-width: 1px;
     border-color:red;

}
.email
{
   color: deepskyblue;
}
.date
{
    color: dimgray;
}
.description
{
    line-height: 26pt;
}
#disccus
{
    color: crimson;
}
